.iniciarSesion{
    background-color: #296797;
    height: 80px;
}

.boton{
    background-color: #4AB2FC;
}

.iniciarSesion form{
    padding-top: 20px;
}

.iniciarSesion button{
    height: 40px;
}
.logo{
    bottom: 6px;
}
.registro{
    background-image: url(../Imagenes/fondoEnvios.jpg);

    background-repeat: space;
    width: 100%;
    color: #ffffff;
    height: 650px;
    background-repeat: no-repeat;
}

.registro h2{
    color: #ccc;
}

.registro form{
    background-color: rgba(74,178,252,.3);
    height: 600px;
    border-radius: 12px;
    padding: 12px;
}

footer{
    padding-top: 10px;
    background-color: #296797;
    color: #fff
}

.logoFooter{
    bottom: 50px;
}