.iniciarSesion{
    background: #fff !important;
    position: fixed!important;
    height: 80px;
}

.boton{
    background-color: #4AB2FC;
}

.box{
    border:0!important;
    border-radius: 0!important;
    border-bottom: 1px solid #ccc!important;
}

.box:active{
    outline: 0px!important;
    background: rgba(0,0,0,0)!important;
    /*box-shadow: 0px!important;*/
    border:0!important;
    /*border-bottom: 1px solid #ccc!important;*/
}
body{
    font-family: 'Poppins', sans-serif!important;
}
.iniciarSesion form{
    padding-top: 20px;
}

.iniciarSesion button{
    height: 40px;
}
.logo{
    bottom: 6px;
}
.registro{

    background-image: url(../Imagenes/fondo1.jpg);
    background-repeat: space;
    width: 100%;
    color: #ffffff;
    height: 550px!important;
    background-repeat: no-repeat;
    padding-top: 70px;
    margin-bottom: 40px!important;
}

.registro h2{
    /*top: 100px!important;*/
    color: rgb(17, 16, 16);
}

.registro form{
    background-color: rgba(0,0,0,.3);
    height: 400px;
    border-radius: 5px;
    color: #000;
    padding: 12px;
}

.botones{
    background-color: rgb(114, 110, 110)!important;
    color : #000!important;
}

.integrante{
    padding: 30px 0 40px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    border:1px dotted #ccc;
}
h1{
    margin-bottom:15px;
}
.integrante .foto{
    display:inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.integrante .foto::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0; 
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.integrante:hover .foto::before{
    height: 100%;
}
.integrante .foto::after{
    content: "";
    width: 100%;
    height: 99%;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.integrante .foto img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.integrante:hover .foto img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.integrante .informacion-equipo{
    margin-bottom: 30px;
}
.integrante .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.integrante .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize; 
}
.integrante .social{
    width: 100%;
    padding: 0;
    margin:0;
    background: #ccc;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;

}

.integrante:hover .social{
    bottom: 0;
}
.integrante .social li{
 display: inline-block;
}
.integrante .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;transition: all 0.5s ease 0s;

}

.integrante .social li a:hover{
       color: #ccc;
       background: #000;
       text-decoration: none;

}

.margen{
    margin-right: 2rem!important;
    margin-left: 2rem!important;
}

footer{
    padding-top: 10px;
    background-color: #ccc;
    color: #000;
}
