header{
    top: 0px;
    height: 20px;
    background: #ffffff;
    z-index: 4;
}


header a{
    font-size: 20px;
    color: rgb(105, 105, 105);
}

#map{
    bottom: 200px;
    height: 700px;
  }

.menuLateral{
    float: left;
    bottom: 190px;
    transform: translateY(125%);
    background: rgb(66, 66, 66);
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width .5s;
  }



.menuLateral a{
    text-decoration: none!important;
}

  
.menuLateral:hover {
    width: 250px;
}

.item:hover {
    background-color: #222;
}

.menuLateral .fas {
    margin: 15px;
    width: 20px;
    color: #fff;
}


i.fas {
    font-size: 17px;
    vertical-align: middle !important;
    
}

h6 , h6:hover {
    background: #ccc!important;
    overflow: hidden;

}

.item {
    height: 50px;
    overflow: hidden;
    color: #fff;
}

.menuLateral{
    z-index: 2;
}

.mapa{
    z-index: 1;
}


.paquete{
    z-index: 2;
    top: 100px;
    width: 600px;
    height: 630px;
    background: rgba(66, 66, 66, 0.6);
    border-radius: 10px;
    color: #fff;
    left: 710px;
}

.botonOrden, .botonMapa{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #222;
    color: white;
}

.botonMapa{
    margin-top:40px!important;
}

.item:active{
    color:#000!important;
}


.perfil{
    z-index: 2;
    top: 100px;
    width: 300px;
    height: 550px;
    background: rgba(66, 66, 66, 0.9);
    color: #fff;
    font: bold;
    /*border-radius: 10px;*/
    left: 400px;
}

.perfil input{
    color: #fff;
}


.botonMapaDestino:focus, .botonMapaDestino:active{
    background: red;
}

.botonMapa:active , .botonMapa:focus{
    background: blue;
}


#registro{
    background: #222!important;
    color: white!important;
}

.misPaquetes{
    z-index: 9;
    top: 200px;
    height: 500px;
    background: rgba(66, 66, 66, 0.9);
}